.nav-wrapper {
	position: fixed;
	z-index: 99;
	width: 100%;
	height: 50px;
}
.nav-items {
    float: right;
    list-style: none;
    margin: 0;
}
.nav-item {
    display: inline-block;
    margin-right: 14px;
    font-size: 2.5rem;
    opacity: 1;
    cursor: pointer;
    transition: 1s;
    transform: scale(1);
}
.nav-item:hover {
    opacity: 0.6;
    transform: scale(1.4);
}
.nav-item.clicked {
    transform: scale(1.4);
    opacity: 0.6;
    background-color: rgba(0,0,0,0);
    border-radius: none;
}
.nav-item.clicked:hover {
    transform: scale(1);
    opacity: 1;
    animation: none;
}

.nav-item.exit-btn {
    margin-left: -55px;
    margin-top: 60px;
    position: absolute;
    display: none;
}
.nav-item.exit-btn.clicked {
    display: inline-block;
}

