.image-viewer {
	position: fixed;
    z-index:999;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    display: flex;	
}

.ie-app .image-viewer {
	padding-top: 70px;
}

.close-button {
	position: absolute;
	font-size: 3rem;
	top: 10px;
	right: 10px;
	transition: 0.3s;
}
.close-button:hover {
	transform: scale(1.2);
	cursor: pointer;
}
.main-image-container {
	margin: auto;
}
.main-image {
	box-sizing: border-box;
	width: 512px;
	height: auto;
	max-width: 94%;
	margin: auto;
	border: 5px solid white;
	border-radius: 5px;
}
.main-image-caption {
	padding: 0px 5px;
}
.main-image-text {
	text-align: center;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	display: inline-block;
}
.image-left-arrow {
	display: inline-block;
	font-size: 4rem;
	float: left;
}
.image-right-arrow {
	font-size: 4rem;
	display: inline-block;
	float: right;
}
.image-left-arrow.hidden, .image-right-arrow.hidden {
	display: none;
}