.image-viewer {
	position: fixed;
    z-index:999;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;	
}

.main-image {
	box-sizing: border-box;
	width: 512px;
	height: auto;
	max-width: 100%;
	margin: auto;
	border: 5px solid white;
	border-radius: 5px;
}