.places-sidebar {
    position: fixed;
    z-index: 20;
    background-color: black;
    height: 100%;
    width: 300px;
    left: 0px;
    transition: left 1s;
}
.places-sidebar:after {
    content: '';
    position: relative;
    border-bottom: 25px black solid;
    border-top: 25px black solid;
    border-right: 25px black solid;
    margin-left: 25px;
    top: 50%;
    left: 50%;
}
.places-sidebar.hidden {
    border-color: white;
    left: -300px;
}
.drag-button {
    position: absolute;
    top: 50%;
    left: 100%;
    z-index: 70;
    color: white;
    font-size: 3rem;
    margin-left: -12px;
    margin-top: -13px;
}
.drag-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.places-item-container {
    list-style: none;
    position: absolute;
    color: white;
    top: 70px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.places-item {
    margin: 5px;
    padding: 0px 5px;
    border: 1px solid lightgreen;
    border-radius: 4px;
}
.item-name {
    width: 216px;
    text-align: left;
    display: inline-block;
}
.item-find, .item-remove {
    width: 20px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
