* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.App {
  text-align: center;
}

.bg-black {
	background-color: #0D0630;
}
.bg-blue {
	background-color: #3626A7;
}
.bg-light-blue {
	background-color: #657ED4;
}
.bg-red { 
	background-color: #FF331F;
}
.bg-white {
	background-color: #FBFBFF;
}
.color-black {
	color: #0D0630;
}
.color-blue {
	color: #3626A7;
}
.color-light-blue {
	color: #657ED4;
}
.color-yellow { 
	color: #FF331F;
}
.color-white {
	color: #FBFBFF;
}

